<h6>Interpolation binding</h6>
<p>My current hero is {{currentHero.name}}</p>

<h3>
  <img id="heroImg" src="{{heroImageUrl}}" style="height:50px">
</h3>

<p>The sum of 1 + 1 is {{1 + 1}}</p>

<p>The sum of 1 + 1 is not {{1 + 1 + getVal()}}</p>

<!-- Script tag will  be removed while build -->
<script>
  alert('test');
</script>

<hr />
<h6>Property binding</h6>
<br />

<img [src]="heroImageUrl" style="height:50px" />
<br /><br />

<button [disabled]="formNotChanged">Cancel</button>
<br /><br />

<div [ngClass]="classes">[ngClass] binding to the classes property</div>
<br /><br />

<app-hero-detail [hero]="currentHero"></app-hero-detail>




<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />